body {
  font-family: 'Roboto', sans-serif;
  padding-top: 50px;
}

/* UTILITIES */
.pd_0 {
  padding: 0px;
}

.pd_top_30 {
  padding-top: 30px;
}

.pd_top_40 {
  padding-top: 40px;
}

.pd_top_50 {
  padding-top: 50px;
}

.pd_top_60 {
  padding-top: 60px;
}

.pd_bottom_30 {
  padding-bottom: 30px;
}

.pd_bottom_40 {
  padding-bottom: 40px;
}

.pd_bottom_50 {
  padding-bottom: 50px;
}

.pd_bottom_60 {
  padding-bottom: 60px;
}

.font_w_600 {
  font-weight: 600;
}

.font_w_500 {
  font-weight:500;
}

.title_section {
  font-size: 33px;
}

.bg_grey {
  background-color: #f3f5f9;
}

.bg_blue {
  background-color: #082050;
}

.bg_darkblue {
  background-color: #010e28;
}

.color_p {
  color: rgba(0, 0, 0, 0.6);
}

.title_white {
  color: #fff;
}

.pos_rel {
  position: relative;
}

.arrow_banner_left {
  padding-right: 10px;
  font-size: 34px;
}

.arrow_banner_right {
  padding-left: 10px;
  font-size: 34px;
}


/* NAVBAR */
nav {
  background-color: #fff;
}

nav img {
  width: 150px;
  margin-top: 9px;
}

nav ul {
  line-height: 50px;
  margin-bottom: 0px;
}

nav ul li i {
  font-size: 15px;
  vertical-align: middle;
  padding-left: 5px
}

.btn-default {
  color: rgb(0, 0, 255);
  border-color: rgb(0, 0, 255);
}


/* JUMBOTRON */
.jumbotron {
  background-image: url('../assets/bg-banner-home.jpg');
  background-position: center;
  background-size: cover;
  margin-bottom: 0px;
}

.jumbotron h1 {
  color: #fff;
  margin-right: 20px;
}

.jumbotron p {
  color: #fff;
  margin-right: 70px;
  margin-bottom:0px;
  opacity: 0.6;
}

.box_bg_one {
  background: #fff;
  border-radius: 5px;
  /* height: 350px;
  width: 455px;
  margin-left: 15px; */
}

.jumbotron .box_bg_one h2:nth-child(1) {
  margin-top: 35px;
}

.jumbotron .box_bg_one h2:nth-child(2) {
  color: rgba(0, 0, 255, 0.8);
  margin-top: 0px;
}

.btn-group-lg>.btn, .btn-lg {
  padding: 5px 16px;
  font-size: 14px;
}

.jumbotron .box_bg_one button:nth-last-child(2) {
  color: #000;
  border-color: #bbb;
  position: relative;
}

button img {
  height: 17px;
  position: absolute;
  left: 10px;
  top: 22%
}

.jumbotron .box_bg_one p {
  font-size: 13px;
  color: #000;
  opacity: 1;
  margin: 0px;
  padding-top: 17px;
  font-weight: 500;
}

.jumbotron .box_bg_one p a {
  text-decoration: underline;
}


/* SECTION ONE */
.brand_image {
  line-height: 10;
}

.brand_sec p {
  padding-top: 30px;
  margin-bottom: 0px;
}

.sec_two_list {
  border-left: 2px solid rgba(0, 0, 0, 0.6);
  line-height: 35px;
}

.brand_sec img {
  width: 150px;
}

.brand_p {
  padding-bottom: 30px;
}


/* SECTION TWO */
/* .sec_two_title {
  padding-top: 40px;
  padding-bottom: 50px;
} */

.sec_two_title p {
  font-size: 20px;
  /* margin-right: 63px;
  margin-left: 63px; */
}

.sec_two_list {
  border-left: 2px solid rgba(0, 0, 0, 0.4);
  line-height: 40px;
  padding-left: 10px;
}

.sec_two_list ul li {
  font-size: 17px;
}

.sec_two_info {
  padding-right: 90px;
}

/* .sec_two_info_first {
  padding-right: 56px;
  padding-left: 56px;
}

.sec_two_info_second {
  padding-left: 0px;
  padding-right: 94px
} */


/* SECTION THREE */
.sec_three_title h2 {
  padding-top: 40px;
  padding-bottom: 15px;
}

.sec_three_title p {
  font-size: 20px;
  padding-bottom: 40px;
}
.sec_three_sm_text {
  padding-top: 20px;
  margin-bottom: 0px;
}

.sec_three_sm_dot {
  padding-bottom: 30px;
}

.sec_three_sm_dot li {
  color: rgba(0, 0, 255, 0.8);
  font-size: 8px;
  padding-left: 0px;
}

.slider_one img {
  width: 400px;
  padding-left: 15px;
  padding-right: 15px;
}

.slider_one i {
  position: absolute;
  top: 50%;
  left: %;
  transform: translatex(-50%);
}


/* SECTION FOUR */


/* SECTION FIVE */
tr td {
  color: #fff;
}

tr td:nth-child(2) {
  color: rgba(255, 255, 255, 0.65);
}

table tr:first-child td {
  border-top: 0px;
}


/* SECTION SIX */
.box_bg_two {
  background: #fff;
  border-radius: 5px;
  /* height: 305px;
  width: 580px; */
}

.slider_two p {
  font-size: 20px;
}

.slider_two .left{
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateX(-50%);
}

.slider_two .right{
  position: absolute;
  top: 50%;
  right: -4.5%;
  transform: translate(-50%, +4.5%);
}


/* SECTION SEVEN */

.btn_create {
  padding: 10px;
}

/* FOOTER */
.color_list_foot li a {
  color: rgba(255, 255, 255, 0.6);
}

.title_white_foot {
  color: rgba(255, 255, 255, 0.9);
}

.bg_darkblue img {
  width: 38px;
  padding-bottom: 15px;
}

.bg_darkblue p {
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 0px;
  line-height: 1;
}

.bg_darkblue small {
  color: rgba(255, 255, 255, 0.2);
  padding-bottom: 20px;
}

.list_social a i {
  padding-top: 10px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 15px;
}


/* NAVBAR BOTTOM */
#help {
  position: fixed;
  bottom: 0px;
  right: 0;
}

.tool {
  position: relative;
  display: inline-block;
  width: 300px;
  padding: 7px;
  background: #fff;
  line-height: 1.45;
  border-radius: 5px;
  /* Ombreggiatura */
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
  /* box-shadow: 0 0 8px 5px rgba(0,0,0, .1); */
}

.tool::before {
  content: '';
  position: absolute;
  bottom: 15px;
  right: -5px;
  width: 10px;
  height: 10px;
  background: #fff;
  /* Rotazione */
  transform: rotate(45deg);
}

.tool p {
  text-align: left;
  margin-bottom: 0px;
  color: #212063;
}

#help img {
  width: 65px;
  height: 55px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #0042eb;
  border-radius: 7px;
  padding: 5px;
}


/* RESPONSIVE */
/* MEDIUM DEVICES */
@media all and (min-width: 992px) and (max-width: 1199px) {
  /* JUMBOTRON */
  .jumbotron h1 {
    margin-right: 0px;
    font-size: 48px;
  }
}


 /* SMALL DEVICES */
@media all and (min-width: 768px) and (max-width: 991px) {
  /* NAVBAR */
  .hamburger {
    padding-top: 13px;
  }

  /* JUMBOTRON */
  .jumbotron h1 {
    margin-right: 0px;
    font-size: 37px;
  }

  /* SECTIONE ONE */
  .brand_sec img {
    width: 110px;
  }

  .box_info_three {
    margin-left: 190px;
  }

  /* SECTION THREE */
  .slider_one img {
  }

}


/* EXTRASMALL DEVICES */
@media all and (max-width: 767px) {
  /* NAVBAR */
  .hamburger {
    padding-right: 10px;
    padding-top: 13px;
  }

  /* JUMBOTRON */
  .box_bg_one {
    margin-left: 0px;
    margin-right: 0px;
  }

  /* SECTION ONE */
  .brand_sec img {
    width: 135px;
  }

  /* SECTION TWO */
  .sec_two_list {
    margin-left: 15px;
  }

  .sec_two_info {
    padding-bottom: 20px;
  }

  .box_info_one {
    padding-top: 25px;
  }

  .box_info_two {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  /* SECTION THREE */
  .slider_one img {
    max-width: 100%;
  }

  .arrow_banner_left,
  .arrow_banner_right {
    display: none;
  }


  /* SECTION SIX */
  .slider_two img {
    max-width: 100%;
  }

  .arrow_banner_left,
  .arrow_banner_right {
    display: none;
  }

  .slider_two p {
    font-size: 14px;
  }




}
